@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .radial-gradient {
    @apply bg-[radial-gradient(circle,_var(--tw-gradient-stops))];
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  /* Carousel CSS */
  .Carousel--container {
    @apply flex  max-lg:flex-col w-full h-screen transform transition-transform duration-500 delay-150 max-w-[1200px] overflow-hidden;
  }

  .Information--container {
    @apply flex-center flex-col  md:w-[100vw] max-md:min-h-[65vh] min-h-[70vh];
  }
  .Information--Image__container {
    @apply w-full flex justify-end items-center flex-col lg:gap-8 gap-6   md:min-h-[60%] h-full bg-white  px-10;
  }
  .Information--Name {
    @apply flex-center text-black md:text-xl font-semibold bg-orange-200/50 rounded-t-full lg:h-[10%] py-2 w-full transform transition-all duration-1000 overflow-hidden;
  }
  .Information--Description {
    @apply w-full bg-stone-500/50 h-full max-md:text-sm max-md:p-2 p-10 text-justify max-h-[30%] overflow-auto no-scrollbar;
  }

  .Carousel_Controler--container {
    @apply relative  flex justify-end items-center gap-10 h-full w-full bg-slate-50/10  flex-col  transform transition-all duration-500 delay-150;
  }

  .Wheel--container {
    @apply absolute lg:bottom-[10%] max-lg:top-[5%]  max-md:top-[10%]  z-10 flex-center   w-[300px] h-[300px] radial-gradient from-transparent to-black  text-white  rounded-full blur-[0.5px];
  }

  .Wheels--info {
    @apply absolute -z-10 top-[50px]  w-[3px] h-[100px] bg-black to-[50%]  origin-bottom;
  }

  .Wheel--image {
    @apply relative -left-[24px] -top-[30px] w-[50px] h-[50px] bg-white rounded-full;
  }

  .btn--container {
    @apply relative flex-center z-30 bg-white/50 backdrop-blur-sm rounded-t-lg  lg:h-[30%]  max-lg:h-[45%]  w-full gap-10;
  }

  .btn {
    @apply px-4 py-2 rounded-md font-semibold;
  }

  .Slider--info__1 {
    @apply absolute flex-center  rounded-full top-[50px] left-[10%]  size-[50px] radial-gradient from-black from-[50%] to-white text-white;
  }
  .Slider--info__2 {
    @apply absolute flex-center rounded-full top-[50px] right-[10%] size-[50px] radial-gradient from-black from-[50%] to-white text-white;
  }
  .Slider--progress {
    @apply absolute -z-10  top-[75px] left-[10%]  h-1 w-[70%]  bg-gray-300 translate-x-[50px];
  }

  /* end  Carousel CSS */

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
